<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UdemyRecordatorio.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>091369881E1182DE00EB6296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0913699F1E1182DE00EB6296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>091369AA1E1182DE00EB6296</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
